@import '../../styles/mixins';

.skills_container {
	@apply relative animate-spin mx-auto;
	width: 200px;
	height: 200px;

	.icon {
		@apply text-white w-10 h-10 transition-all duration-200 absolute cursor-pointer animate-spin;
		animation-direction: reverse;
		@media (hover: hover) {
			@apply hover:text-complimentary-200;
			&:hover {
				scale: 1.1;
			}
		}
	}
}
